.DS_Store
**/build
**/*.pbxuser
**/*.mode1v3
*.pbxuser
*.mode1v3
*.xcuserstate
**/xcuserdata/*
**/**/xcuserdata/*
**/**/**/xcuserdata
**/**/**/*.xcuserdatad
**/**/xcuserdata/*
thegrid.xcodeproj/project.xcworkspace/xcuserdata/**/*
thegrid.xcodeproj/project.xcworkspace/xcuserdata/bart.xcuserdatad/*
