<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_tile_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{146,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,132}}</string>
                <key>sourceSize</key>
                <string>{146,136}</string>
            </dict>
            <key>energy_tile_background_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{146,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,132}}</string>
                <key>sourceSize</key>
                <string>{146,136}</string>
            </dict>
            <key>energy_tile_background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{146,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,132}}</string>
                <key>sourceSize</key>
                <string>{146,136}</string>
            </dict>
            <key>energy_tile_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{146,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,132}}</string>
                <key>sourceSize</key>
                <string>{146,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d2acff73a7f2d5af00ab4f87551dc86$</string>
            <key>textureFileName</key>
            <string>tile-assets.pvr.ccz</string>
        </dict>
    </dict>
</plist>
